.sidebar {
  :global(.ant-tree) {
    background-color: transparent;
  }

  display: flex;
  flex-direction: column;
}

.paneHeader {
  height: 22px;
  line-height: 22px;
  font-size: 11px;

  color: #cccccc;
  font-weight: 700;
  text-transform: uppercase;

  padding-left: 20px;
}

.fullContentMenu {
  display: block;
  flex: 1;
}
